body {
        background-color: #2a2b2e;
        font-family: Teachers, "Ubuntu Sans", monospace;
        color: aliceblue;
}

hr {
        color: aliceblue;
}

pre {
        font-family: Teachers, "Ubuntu Sans", monospace;
        font-size: large;
}

.footer {
        bottom: 0%;
        width: 100%;
        position: relative;
        text-align: center;
}

.img_table_header {
        width: 100px;
        border-radius: 10px;
        font-size: large;
}

.img_table_item {
        height: 200px;
        width: 200px;
        border-radius: 10px;
}

.ext_ul {
        border: 2px solid aliceblue;
        border-radius: 10px;
        font-size: large;
}

.lil_btn {
        border: aliceblue;
        border-radius: 5px;
        font-family: Teachers, "Ubuntu Sans", monospace;
        font-size: large;
        box-shadow: 5px 5px 3px black;
}

.btn {
        border: aliceblue;
        border-radius: 10px;
        font-size: 25px;
        font-family: Teachers, "Ubuntu Sans", monospace;
        margin-right: 15px;
        margin-left: 15px;
        box-shadow: 8px 8px 3px black;
}

.my_pic {
        border-radius: 10px;
        border: 2px solid aliceblue;
        height: 200px;
        width: 200px;
        box-shadow: 8px 8px 3px black;
}