body {
        background-color: #21222c;
        font-family: Iosevka Nerd Font, Comfortaa, monospace;
        color: aliceblue;
}

hr {
        color: aliceblue;
}

pre {
        font-family: Iosevka Nerd Font, Comfortaa, monospace;
        font-size: medium;
}

.footer {
        bottom: 0%;
        width: 100%;
        position: relative;
        text-align: center;
}

.img_table_header {
        width: 100px;
        border-radius: 10px;
}

.img_table_item {
        height: 200px;
        width: 200px;
        border-radius: 10px;
}

.ext_ul {
        border: 2px solid aliceblue;
        border-radius: 10px;
}

.lil_btn {
        border: aliceblue;
        border-radius: 5px;
        font-family: Iosevka Nerd Font, Comfortaa, monospace;
        font-size: large;
}

.btn {
        border: aliceblue;
        border-radius: 10px;
        font-size: 25px;
        font-family: Iosevka Nerd Font, Comfortaa, monospace;
}

.my_pic {
        border-radius: 10px;
        border: 2px solid aliceblue;
        height: 200px;
        width: 200px;
}